.background-image {
    background-image: url(../Responsive_Portfolio/assets/images/concrete_seamless.png);
}
.jumbotron {
    border-style: solid;
}
header {
    position: absolute;
    z-index: 10;
    width: 100%;
}
/* .float-please {
    float: left;
    clear: both;
} */
.navbar {
    padding: 20px 0;
}
.navbar-brand {
    font-weight: 800;
    font-size: 2em;
    color: #262626;
    text-transform: uppercase;
}
.nav-item {
    font-weight: 800;
    text-transform: uppercase;
}
/* .img-fluid {
    max-width: 100%;
    height: auto;
    
} */
.banner {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 250px 0 200px;
}
.banner h2 {
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
}
.banner p {
    margin: 1em 0 0;
    padding: 0;
    font-size: 1.2em;
    font-weight: 450;
    line-height: 1.5em;
}
.navbar-light .navbar-nav .nav-link:hover {
    background: #262626;
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
    padding: 5px 15px;
    /* color: #262626; */
}
@media (max-width: 768px) {
    .banner {
        padding: 250px 0;
    }
    .banner h2 {
        font-size: 1.8em;
    }
}